.DS_Store
GAMES101/GAMES101_Lecture_01.pdf
GAMES101/GAMES101_Lecture_02.pdf
GAMES101/GAMES101_Lecture_03.pdf
GAMES101/GAMES101_Lecture_04_supp.pdf
GAMES101/GAMES101_Lecture_04.pdf
GAMES101/GAMES101_Lecture_05.pdf
GAMES101/GAMES101_Lecture_06.pdf
GAMES101/GAMES101_Lecture_07.pdf
GAMES101/GAMES101_Lecture_08.pdf
GAMES101/GAMES101_Lecture_09.pdf
GAMES101/GAMES101_Lecture_10.pdf
GAMES101/GAMES101_Lecture_11.pdf
GAMES101/GAMES101_Lecture_12.pdf
GAMES101/GAMES101_Lecture_13.pdf
GAMES101/GAMES101_Lecture_14.pdf
GAMES101/GAMES101_Lecture_15.pdf
GAMES101/GAMES101_Lecture_16.pdf
GAMES101/GAMES101_Lecture_17.pdf
GAMES101/GAMES101_Lecture_18.pdf
GAMES101/GAMES101_Lecture_19.pdf
GAMES101/GAMES101_Lecture_20.pdf
GAMES101/GAMES101_Lecture_21.pdf
GAMES101/GAMES101_Lecture_22.pdf
Assignment/EECS3431-master/A1/William-Pu.zip
Assignment/EECS3431-master/README.md
Assignment/EECS3431-master/A3/test.txt
Assignment/EECS3431-master/A3/RayTracer/RayTracer/RayTracer.vcxproj.user
Assignment/EECS3431-master/A3/RayTracer/RayTracer/RayTracer.vcxproj.filters
Assignment/EECS3431-master/A3/RayTracer/RayTracer/RayTracer.vcxproj
Assignment/EECS3431-master/A3/RayTracer/RayTracer/RayTraceMain.cpp
Assignment/EECS3431-master/A3/RayTracer/RayTracer/example.txt
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/vc142.pdb
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/vc142.idb
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTracer.tlog/RayTracer.lastbuildstate
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTracer.tlog/link.write.1.tlog
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTracer.tlog/link.read.1.tlog
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTracer.tlog/link.command.1.tlog
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTracer.tlog/CL.write.1.tlog
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTracer.tlog/CL.read.1.tlog
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTracer.tlog/CL.command.1.tlog
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTracer.log
Assignment/EECS3431-master/A3/RayTracer/RayTracer/Debug/RayTraceMain.obj
Assignment/EECS3431-master/A3/RayTracer/RayTracer.sln
Assignment/EECS3431-master/A3/RayTracer/Debug/RayTracer.pdb
Assignment/EECS3431-master/A3/RayTracer/Debug/RayTracer.ilk
Assignment/EECS3431-master/A3/RayTracer/Debug/RayTracer.exe
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testSpecular.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testShadow.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testSample.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testReflection.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testParsing1.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testParsing.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testIntersection.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testImgPlane.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testIllum.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testDiffuse.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testBehind.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testBackground.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testAmbient1.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/testAmbient.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/test.txt
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keySpecular.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keySpecular.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyShadow.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyShadow.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keySample.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keySample.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyReflection.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyParsing.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyParsing.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyIntersection.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyIntersection.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyImgPlane.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyIllum.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyDiffuse.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyDiffuse.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyBehind.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyBehind.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyBackground.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyBackground.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyAmbient.ppm
Assignment/EECS3431-master/A3/Project3TestsAndKeys/keyAmbient.png
Assignment/EECS3431-master/A3/Project3TestsAndKeys.zip
Assignment/EECS3431-master/A3/matrix inversion function.txt
Assignment/EECS3431-master/A3/file output function.txt
Assignment/EECS3431-master/A3/commonQuestions (1).rtf
Assignment/EECS3431-master/A3/Assignment3.pdf
Assignment/EECS3431-master/A2/space2.jpg
Assignment/EECS3431-master/A2/space.jpg
Assignment/EECS3431-master/A2/READ_ME.txt
Assignment/EECS3431-master/A2/objects.js
Assignment/EECS3431-master/A2/moon.png
Assignment/EECS3431-master/A2/main.js
Assignment/EECS3431-master/A2/main.html
Assignment/EECS3431-master/A2/license.rtf
Assignment/EECS3431-master/A2/helmet.jpg
Assignment/EECS3431-master/A2/fin.jpg
Assignment/EECS3431-master/A2/cone.jpg
Assignment/EECS3431-master/A2/Common/webgl-utils.js
Assignment/EECS3431-master/A2/Common/README.txt
Assignment/EECS3431-master/A2/Common/MV.js
Assignment/EECS3431-master/A2/Common/initShaders2.js
Assignment/EECS3431-master/A2/Common/initShaders.js
Assignment/EECS3431-master/A2/cdnFlg.jpg
Assignment/EECS3431-master/A2/body.jpg
Assignment/EECS3431-master/A1/William-Pu/readme.txt
Assignment/EECS3431-master/A1/William-Pu/objects.js
Assignment/EECS3431-master/A1/William-Pu/main.js
Assignment/EECS3431-master/A1/William-Pu/main.html
Assignment/EECS3431-master/A1/William-Pu/license.rtf
Assignment/EECS3431-master/A1/William-Pu/Common/webgl-utils.js
Assignment/EECS3431-master/A1/William-Pu/Common/README.txt
Assignment/EECS3431-master/A1/William-Pu/Common/MV.js
Assignment/EECS3431-master/A1/William-Pu/Common/initShaders2.js
Assignment/EECS3431-master/A1/William-Pu/Common/initShaders.js
Assignment/EECS3431-master/A1/main.js
Assignment/EECS3431-master/A1/eecs3431TemplateA1-v3-wgl2.zip
Assignment/EECS3431-master/A1/as1.pdf
*.DS_Store
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/Common/._webgl-utils.js
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/Common/._README.txt
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/Common/._MV.js
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/Common/._initShaders2.js
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/Common/._initShaders.js
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/._objects.js
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/._main.js
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/._main.html
Assignment/EECS3431TemplateA1-v3-wgl2-1/__MACOSX/eecs3431TemplateA1-v3-wgl2/._Common
Assignment/EECS3431TemplateA1-v3-wgl2-1/eecs3431TemplateA1-v3-wgl2/Huanrui-Cao.zip
WebGL/Examples/02_roboticArm-WebGL2/roboticArm-WebGL2/.Rhistory
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/Common/._webgl-utils.js
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/Common/._README.txt
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/Common/._MV.js
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/Common/._initShaders2.js
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/Common/._initShaders.js
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/._objects.js
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/._main.js
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/._main.html
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/._license.rtf
WebGL/Examples/02_roboticArm-WebGL2/__MACOSX/roboticArm-WebGL2/._Common
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/._Common
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/._main.html
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/._main.js
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/._objects.js
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/Common/._initShaders.js
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/Common/._initShaders2.js
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/Common/._MV.js
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/Common/._README.txt
WebGL/Examples/03_time2appear-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-appear/Common/._webgl-utils.js
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/._Common
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/._main.html
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/._main.js
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/._objects.js
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/Common/._initShaders.js
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/Common/._initShaders2.js
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/Common/._MV.js
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/Common/._README.txt
WebGL/Examples/04_spheresJS-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-spheres/Common/._webgl-utils.js
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/._Common
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/._main.html
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/._main.js
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/._objects.js
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/Common/._initShaders.js
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/Common/._initShaders2.js
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/Common/._MV.js
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/Common/._README.txt
WebGL/Examples/05_CoordSystems-wgl2/__MACOSX/eecs3431TemplateA1-v3-wgl2-CoordSystems/Common/._webgl-utils.js
